.referrer-stats .depth-1 { background-color:#fff; }
.referrer-stats .depth-2 { background-color:#eee; }
.referrer-stats .depth-3 { background-color:#ddd; }
.referrer-stats .depth-4 { background-color:#ccc; }
